= simple_form_for [:admin, @membership], :html => {:role => 'form' } do |f|
  = f.error_notification

  .form-inputs
    .row
      .col-md-6
        = f.association :center, :collection => Center.all, :label_method => :name, :value_method => :id
        = f.input :name
        = f.input :max_members
        = f.input :price
        = f.input :fruits_per_month
        -# = f.input :category, :collection => Category.all.order(:name), :label_method => :name, :value_method => :name, :input_html => { :class => "radio" }, as: :radio_buttons
        
  .form-actions
    = f.button :submit
