.row
  .col-md-12
    %h1 Medlemsskaber
  - @memberships.each do |membership|
    .col-md-3
      .well
        %h4= membership.name
        %p
          - if membership.center.present?
            = membership.center.name
          - else 
            Center ikke tildelt
        
        %p
          - if membership.plan.present?
            %strong Plan:
            = membership.plan.name
          - else
            Plan ikke tildelt

        %hr/

        = link_to 'Edit', edit_admin_membership_path(membership), :class => 'btn btn-default'
        = link_to 'Destroy', admin_membership_path(membership), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'

  .col-md-12
    = link_to 'Ny plan', new_admin_membership_path
