.row
  .col-md-12
    %h1 Aktiviteter
  .col-md-6
    .panel.panel-default
      .panel-heading
        .pull-left 
          %h2.panel-title Aktuelle
        .pull-right
          .btn-group
            = link_to "Gamle", admin_events_path(old: 'yes'), :class => 'btn btn-sm btn-default'
            = link_to "Kommende", admin_events_path(old: 'no'), :class => 'btn btn-sm btn-default'  
        .clearfix
      %table.table-striped.table-condensed
        %thead
          %th
            %i.fa.fa-thumbs-up
          %th Dato
          %th Tid
          %th Navn
          %th Aktion
        %tbody
          - @confirmed_events.each do |event|
            %tr
              %td
                .fruit-score= event.votes.count
              %td
                - if event.startdate?
                  = event.startdate.strftime("%-d. %b")
                  %small.grey= event.startdate.strftime("%Y")
              %td
                - if event.starttime?
                  = event.starttime.strftime('%H:%M')
              %td
                %strong= event.name
                %br/
                %small.grey= "#{event.user.firstname} #{event.user.surname}"
              %td
                = link_to "Ret", edit_admin_event_path(event), :class => "btn btn-primary btn-xs"
                = link_to 'Slet', [:admin, event], method: :delete, data: { confirm: 'Er du sikker?' }, :class => "btn btn-danger btn-xs"

  .col-md-6
    .panel.panel-default
      .panel-heading
        .pull-left 
          %h2.panel-title Foreslåede
        .clearfix
      %table.table-striped.table-condensed
        %thead
          %th
            %i.fa.fa-thumbs-up
          %th Dato
          %th Tid
          %th Navn
          %th Aktion
        %tbody
        - @unconfirmed_events.each do |event|
          %tr
            %td
              .fruit-score= event.votes.count
            %td
              - if event.startdate?
                = event.startdate.strftime("%-d. %b")
                %small.grey= event.startdate.strftime("%Y")
            %td
              - if event.starttime?
                = event.starttime.strftime('%H:%M')
            %td
              %strong= event.name
              %br/
              %small.grey= "#{event.user.firstname} #{event.user.surname}"
            %td
              = link_to "Ret", edit_admin_event_path(event), :class => "btn btn-primary btn-xs"
              = link_to 'Slet', [:admin, event], method: :delete, data: { confirm: 'Er du sikker?' }, :class => "btn btn-danger btn-xs"
