.jumbotron.page
  .container
    .row
      .col-md-8
        %h1.page
          Rediger brugerprofil
.container
  .row
    .col-md-6
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = devise_error_messages!
        .row
          .col-md-6
            .form-group
              = f.input :firstname, :label => "Fornavn"
          .col-md-6
            .form-group
              = f.input :surname, :label => "Efternavn"
          .col-md-12
            .form-group
              = f.input :email
              - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                %div
                  Currently waiting confirmation for: #{resource.unconfirmed_email}
          .col-md-6
            .form-group
              = f.input :password, autocomplete: "off", :label => "Nyt password"
              %p.help-block Lad dette felt være tomt hvis du ikke vil ændre det
          .col-md-6
            .form-group
              = f.input :password_confirmation, autocomplete: "off", :label => "Bekræft dit password"
          .col-md-12
            .form-group
              = f.input :current_password, autocomplete: "off", :label => "Dit nuværende password"
              %p.help-block Vi har brug for dit password for at bekræfte dine ændringer
          .col-md-12
            .form-group
            
              = f.submit "Gem ændringer", :class => "btn btn-primary"
              = link_to "Tilbage", :back, :class => "btn"
          %hr
          .col-md-12
            .solsort-widget{"data-route"=>"tinkuy/user-edit"}
      / %h3 Slet profil
      / %p
      /   Vil du slette din profil? #{button_to "Ja, slet min konto", registration_path(resource_name), data: { confirm: "Er du sikker?" }, method: :delete, :class => "btn btn-danger"}
