%h2 Bliv medlem
.well
  Medlemsskab koster kr. 108 per måned og giver adgang til centerets aktiviteter mandag til torsdag
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  = f.input :firstname, label: 'Fornavn'
  = f.input :surname, label: 'Efternavn'
  %div
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  %div
    = f.label :password
    - if @validatable
      %i
        (mindst #{@minimum_password_length} tegn)
    %br/
    = f.password_field :password, autocomplete: "off"
  %div
    = f.label :password_confirmation, "Befkræft password"
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  = f.check_box :confirm_payment
  Jeg bekræfter hermed, at jeg har oprettet en månedlig overførsel på kr 108,- til reg:
  %strong 9860
  konto: 
  %strong 8730066121
  %div= f.submit "Tilmeld", :class => "btn btn-primary"
Allerede medlem?
= render "devise/shared/links"
