.jumbotron.page
  .container
    .row
      .col-md-12
        %h1.page
          Bliv medlem
        %p.white
          Medlemsskab koster kr. 108 per måned og giver adgang til centerets aktiviteter mandag til torsdag
.container
  .row
    .col-md-6
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .row
          .col-md-6
            .form-group
              = f.input :firstname, label: 'Fornavn'
          .col-md-6
            .form-group
              = f.input :surname, label: 'Efternavn'
          .col-md-12
            .form-group
              = f.input :email, :label => "Email"
          .col-md-6
            .form-group
              = f.input :password, autocomplete: "off", :label => "Password"
              - if @validatable
                %p.help-block
                  (mindst #{@minimum_password_length} tegn)
          .col-md-6
            .form-group
              = f.input :password_confirmation, autocomplete: "off", :label => "Befkræft password"
          .col-md-12
            .form-group
              = f.check_box :confirm_payment
              Jeg bekræfter hermed, at jeg har oprettet en månedlig overførsel på kr 135,- til reg:
              %strong 9860
              konto: 
              %strong 8730066121
            .form-group
              = f.submit "Tilmeld", :class => "btn btn-primary"
            Allerede medlem?
            = render "devise/shared/links"
