.container
  .row
    .col-md-8
      %h2 Har du glemt dit password?
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = devise_error_messages!
        %div
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true
        %div= f.submit "Send mig info om password reset", :class => "btn btn-primary"
      = render "devise/shared/links"
