= simple_form_for @event do |f|
  - if @event.errors.any?
    #error_explanation
      %h2
        = pluralize(@event.errors.count, "error")
        prohibited this event from being saved:
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg
  
  = f.input :name
  = f.input :description
  
  %label
    Dato og tidspunkt
  %br/
  = f.text_field :startdate, :class => 'date form_date'
  = f.text_field :starttime, :class => 'date form_time'

  %br/  
  / = f.label :hour, "Starttidspunkt (Time, Minute)"
  / = f.input :hour, :label => "Time (0-24)"
  / = f.input :minute, :label => "Minut (0-60)"
  = f.input :duration, :label => "Varighed (minutter)"

  .actions
    = f.submit

:javascript
  $(".form_datetime").datetimepicker({
    format: 'yyyy-mm-dd hh:ii',
    language: 'dk',
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    forceParse: 0,
    showMeridian: 1
  });
  $('.form_date').datetimepicker({
    language:  'dk',
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    minView: 2,
    forceParse: 0
    });
  $('.form_time').datetimepicker({
    language:  'en',
    weekStart: 1,
    todayBtn:  0,
    autoclose: 1,
    todayHighlight: 0,
    startView: 1,
    minView: 0,
    maxView: 1,
    forceParse: 0
    });
