= simple_form_for @event do |f|
  - if @event.errors.any?
    #error_explanation
      %h2
        = pluralize(@event.errors.count, "error")
        prohibited this event from being saved:
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg
  
  .form-group
    - if current_user.present?
      - if current_user.admin?
        .well.well-sm
          .row
            .col-md-12
              .label.label-success
                ADMIN OPTIONS
            .col-md-6
              = f.input :confirmed, :as => :radio_buttons, :label => "Gør aktiviteten aktuel", :include_blank => false
            .col-md-6
              = f.input :user_id, :collection => User.all.order(:firstname), :label_method => lambda {|user| "#{user.firstname} #{user.surname}"}, :value_method => :id, :include_blank => false, :label => "Admin af aktivitet", :selected => current_user.id
      - else
        = f.hidden_field :user_id, :value => current_user.id
    = f.input :name, :label => "Navn på aktivitet"
  .form-group
    .row
      .col-md-6
        .form-group
          %label 
            Dato
          .form-group
            #datetimepicker_date.input-group.date
              - if @event.startdate?
                = f.text_field :startdate, :class => 'form-control', :type => "text", "data-date-format" => "YYYY-MM-DD", :value => nice_date_format(@event.startdate), disabled: !current_user.admin?
              - else
                = f.text_field :startdate, :class => 'form-control', "data-date-format" => "YYYY-MM-DD", :type => "text"
              %span.input-group-addon
                %i.fa.fa-calendar-o
            :javascript
              $(function () {
                $('#datetimepicker_date').datetimepicker({
                  locale: 'dk',
                  useCurrent: true,
                  pickTime: false
                });
              });
            %p.help-block
              Vælg dato for aktivitet
      .col-md-6
        .form-group
          %label 
            Tidspunkt for start
          #datetimepicker_time.input-group.date
            - if @event.starttime?
              = f.text_field :starttime, :class => 'date form_time form-control', "date-date-format" => "DD/MM/YYYY HH/MM", :value => nice_time_format(@event.starttime), disabled: !current_user.admin?
            - else
              = f.text_field :starttime, :class => 'date form_time form-control', "date-date-format" => "DD/MM/YYYY HH/MM"
            %span.input-group-addon
              %i.fa.fa-clock-o
          :javascript
            $(function () {
              $('#datetimepicker_time').datetimepicker({
                format: 'HH:mm',
                pickDate: false,
                pickSeconds: false,
                pick12HourFormat: false,
                locale: 'dk',
                minuteStepping: 30,
                useCurrent: true,
              });
            });
          %p.help-block
            Skriv tidspunkt (fx. 10:30)
  .form-group
    = f.input :duration, :label => "Varighed (minutter)"
  .form-group
    = f.input :description, :label => "Beskrivelse"

  .actions
    = f.submit "Opret", :class => "btn btn-primary"
