- @events.each do |event|
  - if event.startdate.wday == week_day && event.week_number == session[:dato].cweek and event.startdate.year == session[:dato].year
    = link_to event_path(event) do
      .well.well-sm.well-event
        %p
          %strong= event.starttime.strftime("%H:%M")
        %p
          = event.name
    .well.well-sm.well-event-admin
      %p
        %small
          - if event.user.present?
            = event.user.firstname
            - if current_user and event.user == (current_user or current_user.admin?)
              = link_to edit_event_path(event) do
                %i.fa.fa-pencil
          - else
            Admin
            - if current_user and current_user.admin?
              = link_to edit_event_path(event) do
                %i.fa.fa-pencil
