#event-show-stuff
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button"}
      %span{"aria-hidden" => "true"} &times;
      %span.sr-only Close
    %h4#myModalLabel.modal-title
      = @event.name
  .modal-body
    %table
      %tr
        %td
          %strong Dato:
          = @event.startdate.strftime("%A %-d. %b, %Y")
        %td
          %strong Tidspunkt:
          - if @event.starttime?
            = @event.starttime.strftime("%H:%M")
        %td
          %strong Varighed:
          - if @event.duration
            = @event.duration
            min
          - else
            Uoplyst     
    %hr/
    - unless @event.confirmed?
      .alert.alert-success
        %strong Bemærk: 
        Dette er en foreslået aktivitet. Det er endnu ikke aktuelt.
      %br/

    %h4
      Beskrivelse
    %p
      = @event.description.gsub(/\n/, '<br />').html_safe
  .modal-footer
    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Luk
