.well.well-small
  %h4
    Top 10 foreslåede aktiviteter
  %small Disse aktiviteter er endnu ikke kommet  i kalenderen. Vis din interesse for aktiviteten ved at trykke på "Stem op"
  %hr/
  %ul.list-unstyled.top-events
    - @top_events.each do |event|
      %li.top-event
        .event-score
          .fruit-score
            = event.votes.count
        .event-info
          = link_to event_path(event) do
            = event.name.capitalize
            - if current_user and current_user.admin = true
              = link_to edit_event_path(event) do
                %i.fa.fa-pencil
          %p
            - if event.startdate?
              %small.grey= event.startdate.strftime("%A d %e. %b")
            = link_to upvote_event_path(event), method: "post", :class => "btn btn-success btn-xs pull-right" do
              Stem op
              %i.fa.fa-thumbs-up
        .clearfix
  = link_to "Se alle", suggestions_path, :class => "btn btn-primary"
