.well.well-small
  %h4
    Top 10 foreslåede aktiviteter
  %hr/
  %ul.list-unstyled.top-events
    - @top_events.each do |event|
      %li.top-event
        .event-score
          .fruit-score
            = event.votes.count
        .event-info
          %a{"data-remote" => "#{event_path(event)} #event-show-stuff", "data-target" => "#ShowEvent", "data-toggle" => "modal"}
            = event.name.capitalize
          %p
            - if event.startdate?
              %small.grey= event.startdate.strftime("%A d %e. %b")
            = link_to upvote_event_path(event), method: "post", :class => "btn btn-success btn-xs pull-right" do
              Stem op
              %i.fa.fa-thumbs-up
        .clearfix
  = link_to "Se alle", suggestions_path, :class => "btn btn-primary"
