.jumbotron.page
  .container
    .row
      .col-md-12
        %h1.page
          Aktiviteter
.container
  .row
    .col-md-8
      %h4
        = "#{session[:monday_date].strftime('Uge %V - %B, %Y')}"
      %hr/
      .row      
        .col-md-3
          %h4.day-of-week
            Mandag
            %small= "(d. #{session[:monday_date].strftime('%d')})"
          = render :partial => "list_events", :locals => {:week_day => 1, :events => @events}
        .col-md-3
          %h4.day-of-week
            Tirsdag
            %small= "(d. #{(session[:monday_date]+1).strftime('%d')})"
          = render :partial => "list_events", :locals => {:week_day => 2, :events => @events}
        .col-md-3
          %h4.day-of-week
            Onsdag
            %small= "(d. #{(session[:monday_date]+2).strftime('%d')})"
          = render :partial => "list_events", :locals => {:week_day => 3, :events => @events}
        .col-md-3
          %h4.day-of-week
            Torsdag
            %small= "(d. #{(session[:monday_date]+3).strftime('%d')})"
          = render :partial => "list_events", :locals => {:week_day => 4, :events => @events}
      .row
        .col-md-3
          %h4.day-of-week
            Fredag
            %small= "(d. #{(session[:monday_date]+4).strftime('%d')})"
          = render :partial => "list_events", :locals => {:week_day => 5, :events => @events}
        .col-md-3
          %h4.day-of-week
            Lørdag
            %small= "(d. #{(session[:monday_date]+5).strftime('%d')})"
          = render :partial => "list_events", :locals => {:week_day => 6, :events => @events}
        .col-md-3
          %h4.day-of-week
            Søndag
            %small= "(d. #{(session[:monday_date]+6).strftime('%d')})"
          = render :partial => "list_events", :locals => {:week_day => 0, :events => @events}
        .col-md-12
          %hr/
          .pull-left
            = link_to new_event_path, :class => "btn btn-primary" do
              Foreslå ny aktivitet
          .pull-right
            = link_to events_path(:uge => "#{session[:week_number]-1}"), :class => "btn btn-default" do
              %i.fa.fa-angle-left
              Forrige uge
            = link_to events_path(:uge => "#{session[:week_number]+1}"), :class => "btn btn-default" do
              Næste uge
              %i.fa.fa-angle-right
    .col-md-4
      .well.well-small
        %h4
          Top 10 foreslåede aktiviteter
        %hr/
        %table
          - @top_events.each do |event|
            %tr
              %td
                .fruit-score= event.fruits.count
              %td= event.name
              %td
                - if event.startdate?
                  = event.startdate.strftime("%A d %e. %b")
              %td
                = link_to accept_fruit_event_path(event), method: "post", :class => "btn btn-success btn-xs" do
                  %i.fa.fa-thumbs-up
        %hr/
        = link_to "Se alle", suggestions_path, :class => "btn btn-primary"

    / .col-md-12
    /   %h1 Listing events
    /   %table
    /     %thead
    /       %tr
    /         %th Name
    /         %th Description
    /         %th Startdate
    /         %th Starttime
    /         %th Weekday
    /         %th My week
    /         %th Duration
    /         %th Stemmer
    /         %th Stem
    /         %th
    /         %th
    /         %th
    /     %tbody
    /       - @unconfirmed_events.each do |event|
    /         %tr
    /           %td= event.name
    /           %td= event.description
    /           %td= event.startdate
    /           %td= event.starttime.strftime("%H:%M")
    /           %td= event.startdate.wday
    /           %td= event.my_week
    /           %td= event.duration
    /           %td= event.fruits.count
    /           %td= link_to 'Gi frugt', accept_fruit_event_path(event), method: "post"
    /           %td= link_to 'Show', event
    /           %td= link_to 'Edit', edit_event_path(event)
    /           %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }
    /   %br/
    /   = link_to 'New Event', new_event_path