.row
  .col-md-8
    %h1 
      Aktiviteter
      %small
        Uge
        = @show_week
        = "(fra #{@events.first.startdate.strftime("%d. %b")})"
    %hr/
    .row      
      .col-md-3
        %h4 Mandag
        %ul.list-unstyled
          - @events.each do |event|
            - if event.my_week_day == 1 && event.my_week == @show_week
              %li
                %strong= event.starttime.strftime("%H:%M")
                = event.name
      .col-md-3
        %h4 Tirsdag
        %ul.list-unstyled
          - @events.each do |event|
            - if event.my_week_day == 2 && event.my_week == @show_week
              %li
                %strong= event.starttime.strftime("%H:%M")
                = event.name

      .col-md-3
        %h4 Onsdag
        %ul.list-unstyled
          - @events.each do |event|
            - if event.my_week_day == 3 && event.my_week == @show_week
              %li
                %strong= event.starttime.strftime("%H:%M")
                = event.name

      .col-md-3
        %h4 Torsdag
        %ul.list-unstyled
          - @events.each do |event|
            - if event.my_week_day == 4 && event.my_week == @show_week
              %li
                %strong= event.starttime.strftime("%H:%M")
                = event.name

      .col-md-3
        %h4 Fredag
        %ul.list-unstyled
          - @events.each do |event|
            - if event.my_week_day == 5 && event.my_week == @show_week
              %li
                %strong= event.starttime.strftime("%H:%M")
                = event.name

      .col-md-3
        %h4 Lørdag
        %ul.list-unstyled
          - @events.each do |event|
            - if event.my_week_day == 6 && event.my_week == @show_week
              %li
                %strong= event.starttime.strftime("%H:%M")
                = event.name

      .col-md-3
        %h4 Søndag
        %ul.list-unstyled
          - @events.each do |event|
            - if event.my_week_day == 7 && event.my_week == @show_week
              %li
                %strong= event.starttime.strftime("%H:%M")
                = event.name

      .col-md-12
        .pull-right
          = link_to events_path(:increment => "down"), :class => "btn btn-default" do
            %i.fa.fa-angle-left
            Sidste uge
          = link_to events_path(:increment => "up"), :class => "btn btn-default" do
            Næste uge
            %i.fa.fa-angle-right
  .col-md-4
    Sidebar
  

  / .col-md-12                      
  /   %h1 Listing events
  /   %table
  /     %thead
  /       %tr
  /         %th Name
  /         %th Description
  /         %th Startdate
  /         %th Starttime
  /         %th Duration
  /         %th
  /         %th
  /         %th
  /     %tbody
  /       - @events.each do |event|
  /         %tr
  /           %td= event.name
  /           %td= event.description
  /           %td= event.startdate
  /           %td= event.starttime.strftime("%H:%M")
  /           %td= event.duration
  /           %td= link_to 'Show', event
  /           %td= link_to 'Edit', edit_event_path(event)
  /           %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }
  /   %br/
  /   = link_to 'New Event', new_event_path