= render :partial => "events_header"
.container
  .row
    .col-md-8
      %h4
        Uge
        = session[:monday_date].strftime('%V - %B, %Y')
      %hr/
      .row      
        .col-md-3
          %h4.day-of-week
            Mandag
            %small= "(#{session[:monday_date].strftime('%-d. %b')})"
          = render :partial => "list_events", :locals => {:week_day => 1, :events => @events}
        .col-md-3
          %h4.day-of-week
            Tirsdag
            %small= "(#{(session[:monday_date]+1).strftime('%-d. %b')})"
          = render :partial => "list_events", :locals => {:week_day => 2, :events => @events}
        .col-md-3
          %h4.day-of-week
            Onsdag
            %small= "(#{(session[:monday_date]+2).strftime('%-d. %b')})"
          = render :partial => "list_events", :locals => {:week_day => 3, :events => @events}
        .col-md-3
          %h4.day-of-week
            Torsdag
            %small= "(#{(session[:monday_date]+3).strftime('%-d. %b')})"
          = render :partial => "list_events", :locals => {:week_day => 4, :events => @events}
      .row
        .col-md-3
          %h4.day-of-week
            Fredag
            %small= "(#{(session[:monday_date]+4).strftime('%-d. %b')})"
          = render :partial => "list_events", :locals => {:week_day => 5, :events => @events}
        .col-md-3
          %h4.day-of-week
            Lørdag
            %small= "(#{(session[:monday_date]+5).strftime('%-d. %b')})"
          = render :partial => "list_events", :locals => {:week_day => 6, :events => @events}
        .col-md-3
          %h4.day-of-week
            Søndag
            %small= "(#{(session[:monday_date]+6).strftime('%-d. %b')})"
          = render :partial => "list_events", :locals => {:week_day => 0, :events => @events}
        .col-md-12
          %hr/
          .pull-left
            = link_to new_event_path, :class => "btn btn-primary" do
              Foreslå ny aktivitet
          .pull-right
            = link_to events_path(:uge => "#{session[:week_number]-1}"), :class => "btn btn-default" do
              %i.fa.fa-angle-left
              Forrige uge
            = link_to events_path(:uge => "#{session[:week_number]+1}"), :class => "btn btn-default" do
              Næste uge
              %i.fa.fa-angle-right
    .col-md-4
      = render :partial => "top10", :locals => {:top_events => @top_events}

#ShowEvent.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
