= render :partial => "events_header"
.container
  .row
    .col-md-8
      - if @event.present?
        = @event.name
      %h4.pull-left
        Uge
        = session[:dato].strftime('%V - %B, %Y')
        = current_user.admin
      .pull-right
        = link_to new_event_path, :class => "btn btn-primary" do
          Foreslå ny aktivitet
        = link_to events_path(:dato => "#{session[:prev]}"), :class => "btn btn-default" do
          %i.fa.fa-angle-left
          Forrige uge
        = link_to events_path(:dato => "#{session[:next]}"), :class => "btn btn-default" do
          Næste uge
          %i.fa.fa-angle-right
        
      .clearfix
      %hr/
      .row      
        .col-md-3
          %h4.day-of-week
            Mandag
            %small= "(#{session[:dato].strftime('%-d. %b')})"
          = render :partial => "list_events", :locals => {:week_day => 1, :events => @events}
        .col-md-3
          %h4.day-of-week
            Tirsdag
            %small= "(#{(session[:dato]+1).strftime('%-d. %b')})"
          = render :partial => "list_events", :locals => {:week_day => 2, :events => @events}
        .col-md-3
          %h4.day-of-week
            Onsdag
            %small= "(#{(session[:dato]+2).strftime('%-d. %b')})"
          = render :partial => "list_events", :locals => {:week_day => 3, :events => @events}
        .col-md-3
          %h4.day-of-week
            Torsdag
            %small= "(#{(session[:dato]+3).strftime('%-d. %b')})"
          = render :partial => "list_events", :locals => {:week_day => 4, :events => @events}
      .row
        .col-md-3
          %h4.day-of-week
            Fredag
            %small= "(#{(session[:dato]+4).strftime('%-d. %b')})"
          = render :partial => "list_events", :locals => {:week_day => 5, :events => @events}
        .col-md-3
          %h4.day-of-week
            Lørdag
            %small= "(#{(session[:dato]+5).strftime('%-d. %b')})"
          = render :partial => "list_events", :locals => {:week_day => 6, :events => @events}
        .col-md-3
          %h4.day-of-week
            Søndag
            %small= "(#{(session[:dato]+6).strftime('%-d. %b')})"
          = render :partial => "list_events", :locals => {:week_day => 0, :events => @events}
        .col-md-12
          %hr/
          .pull-right
            = link_to new_event_path, :class => "btn btn-primary" do
              Foreslå ny aktivitet
            = link_to events_path(:dato => "#{session[:prev]}"), :class => "btn btn-default" do
              %i.fa.fa-angle-left
              Forrige uge
            = link_to events_path(:dato => "#{session[:next]}"), :class => "btn btn-default" do
              Næste uge
              %i.fa.fa-angle-right
            
    .col-md-4
      = render :partial => "top10", :locals => {:top_events => @top_events}

#ShowEvent.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content

- if @new_event.present?
  #new_event.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &times;
            %span.sr-only Close
          %h4#myModalLabel.modal-title
            - if @new_event.confirmed
              Ny aktivitet gemt
            - else
              Forslag til ny aktivitet gemt
        .modal-body
          %h4
            = @new_event.name
          %hr/
          %table
            %tr
              %td
                %strong Dato:
                = @new_event.startdate.strftime("%A %-d. %b, %Y")
              %td
                %strong Tidspunkt:
                - if @new_event.starttime?
                  = @new_event.starttime.strftime("%H:%M")
              %td
                %strong Varighed:
                - if @new_event.duration
                  = @new_event.duration
                  min
                - else
                  Uoplyst     
          %hr/
          %h4
            Beskrivelse
          %p
            = @new_event.description.gsub(/\n/, '<br />').html_safe
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Luk

  :javascript
    $('#new_event').modal('show')