.jumbotron.page
  .container
    .row
      .col-md-12
        %h1.page
          Aktiviteter
          %small
            Uge
            = @show_week
            - if @vents
              = "(fra #{@events.first.startdate.strftime("%d. %b")})"
.container
  .row
    .col-md-8
      .row      
        .col-md-3
          %h4 Mandag
          = render :partial => "list_events", :locals => {:week_day => 1, :events => @events}
        .col-md-3
          %h4 Tirsdag
          = render :partial => "list_events", :locals => {:week_day => 2, :events => @events}
        .col-md-3
          %h4 Onsdag
          = render :partial => "list_events", :locals => {:week_day => 3, :events => @events}
        .col-md-3
          %h4 Torsdag
          = render :partial => "list_events", :locals => {:week_day => 4, :events => @events}
      .row
        .col-md-3
          %h4 Fredag
          = render :partial => "list_events", :locals => {:week_day => 5, :events => @events}
        .col-md-3
          %h4 Lørdag
          = render :partial => "list_events", :locals => {:week_day => 6, :events => @events}
        .col-md-3
          %h4 Søndag
          = render :partial => "list_events", :locals => {:week_day => 0, :events => @events}
        .col-md-12
          %hr/
          .pull-left
            = link_to new_event_path, :class => "btn btn-primary" do
              Foreslå ny aktivitet
          .pull-right
            = link_to events_path(:increment => "down"), :class => "btn btn-default" do
              %i.fa.fa-angle-left
              Sidste uge
            = link_to events_path(:increment => "up"), :class => "btn btn-default" do
              Næste uge
              %i.fa.fa-angle-right
    .col-md-4
      .well.well-small
        %h4
          Stem på aktiviteter
        %table
          %tr
            %td Hep
            %td Heppp

    / .col-md-12
    /   %h1 Listing events
    /   %table
    /     %thead
    /       %tr
    /         %th Name
    /         %th Description
    /         %th Startdate
    /         %th Starttime
    /         %th Weekday
    /         %th My week
    /         %th Duration
    /         %th
    /         %th
    /         %th
    /     %tbody
    /       - @events.each do |event|
    /         %tr
    /           %td= event.name
    /           %td= event.description
    /           %td= event.startdate
    /           %td= event.starttime.strftime("%H:%M")
    /           %td= event.startdate.wday
    /           %td= event.my_week
    /           %td= event.duration
    /           %td= link_to 'Show', event
    /           %td= link_to 'Edit', edit_event_path(event)
    /           %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }
    /   %br/
    /   = link_to 'New Event', new_event_path