= render :partial => "events_header"
.container
  .row
    .col-md-8
      %h2 
        = @event.name
      %p
        %strong Dato:
        = @event.startdate
      %p
        %strong Tidspunkt:
        - if @event.starttime?
          = @event.starttime.strftime("%H:%M")
      %p
        %strong Varighed (minutter):
        - if @event.duration
          = @event.duration
        - else
          Uoplyst     
      %hr/
      %h4
        Beskrivelse
      %p
        = @event.description.gsub(/\n/, '<br />').html_safe
      %hr/
      = link_to 'Tilbage', events_path, :class => 'btn btn-primary'
    .col-md-4
      - unless @event.confirmed?
        = render :partial => "top10", :locals => {:top_events => @top_events}