.container
  .row
    .col-md-12
      %h1 
        Aktivitet:
        = @event.name
      
      %p
        %strong Beskrivelse:
        = @event.description
      %p
        %strong Dato:
        = @event.startdate
      %p
        %strong Tidspunkt:
        = @event.starttime.strftime("%H:%M")
      %p
        %strong Varighed (minutter):
        - if @event.duration
          = @event.duration
        - else
          Uoplyst

      = link_to 'Ret', edit_event_path(@event)
      |
      = link_to 'Tilbage', events_path