= render :partial => "events_header"
.container
  .row
    .col-md-8
      %h2
        = @event.name
      %p
        = @event.description

      %hr/
      %h4 Tilmeldte
      #participants
        - for user in @event.users
          %p= user.firstname

      - if current_user.present?
        = link_to "Tilmeld", @event.request_signup(current_user), :remote => true


      -#   = button_to "Tilmeld", @event.request_signup( current_user ), :remote => true, :class => 'btn btn-default'


      -# - if current_user
      -#   - simple_form_for :bid do

