%p#notice= notice
%p
  %strong Name:
  = @event.name
%p
  %strong Description:
  = @event.description
%p
  %strong Startdate:
  = @event.startdate
%p
  %strong Starttime:
  = @event.starttime
%p
  %strong Duration
  = @event.duration


= link_to 'Edit', edit_event_path(@event)
|
\#{link_to 'Back', events_path}