= render :partial => "events_header"
.container
  .row
    .col-md-8
      %h2 Foreslåede aktiviteter
      %table
        %thead
          %tr
            %th Navn
            %th Beskrivelse
            %th Dato
            %th Uge
            %th Frugt
            %th Stem med frugt
            %th
            %th
            %th
        %tbody
          - @events.each do |event|
            %tr
              %td= event.name
              %td= event.description
              %td
                = event.startdate
                = event.starttime.strftime("- %H:%M")
              %td
                = event.startdate.strftime("%W")
              %td= event.fruits_count
              %td= link_to 'Gi frugt', accept_fruit_event_path(event), method: "post", :class => "btn btn-primary btn-xs"
      %br/
      = link_to 'Foreslå ny aktivitet', new_event_path
