= render :partial => "events_header"

.container
  .row
    .col-md-8
      %h2 Foreslåede aktiviteter
      - @events.each do |event|
        .event-badge
          .title
            .info
              %h4= event.name
              %table
                %tr
                  %td
                    %strong Uge
                    = event.startdate.strftime("%W")
                  %td
                    %strong Dato
                    = event.startdate
                  %td
                    %strong Tidspunkt
                    = event.starttime.strftime("- %H:%M")
            .vote
              %span.score= event.votes.count
              = link_to upvote_event_path(event), method: "post", :class => "btn btn-success" do
                Stem op
                %i.fa.fa-thumbs-up
            .clearfix
          .description
            %p= event.description
      %hr/
      = link_to 'Foreslå ny aktivitet', new_event_path, :class => "btn btn-primary"
    .col-md-4
      = link_to 'Foreslå ny aktivitet', new_event_path, :class => "btn btn-primary"
