.jumbotron
  .container
    .row
      .col-md-6
        %h1.home
          Tinkuy
        %p.subtitle
          København
      .col-md-6
        - if current_user
          .well.lead
            Velkommen
            %span
              = succeed "!" do
                %strong= current_user.firstname
              %em
                Se alle 
                = link_to "aktiviteter her", events_path
        - else
          - if @places_left > ZERO
            = link_to new_user_registration_path, :class => "btn btn-lg btn-success btn-signup" do            
              Bliv medlem nu
              %i.fa.fa-chevron-circle-right
              %br
              %span.small For kr. 108 per måned
          - else
            .well.well-small
              %p 
                Der er desværre ikke plads til flere medlemmer på nuværende tidspunkt. Skriv til 
                = link_to "venteliste@tinkuy,dk", "mailto:venteliste@tinkuy.dk"
                hvis du vil have besked når der åbnes for flere medlemmer.
        .clearfix
        - if @places_left > ZERO
          - @places_left.to_s.chars.map(&:to_i).each do |digit|
            .number-counter
              = digit
        - else
          .number-counter
            0
        %h3.pladser
          pladser tilbage
        
        / BIG BUTTON OMITTED
        / - else
        /   = link_to new_user_registration_path, :class => 'bliv_medlem_box' do
        /     %p.first
        /       Kom og besøg os i Skyttegade 3, 
        /       %br/ 
        /       2200 Kbh N. 
        /     %p.last
        /       %strong Klik her 
        /       for at blive medlem            
        /       %i.fa.fa-chevron-circle-right.fa-lg
        /       .clearfix
        /       %span For kr. 108 per måned


.container
  .row
    .col-md-12
      %h1.medlem
        Medlemsfordele
    .col-md-4
      .medlem-badge
        %h3
          %span.fa-stack
            %i.fa.fa-circle.fa-stack-2x.green
            %i.fa.fa-paw.fa-stack-1x.fa-inverse
          Gratis "træning"
        %p.lead
          Som medlem har du gratis adgang til meditation, yoga, dans, og workshops.
        .clearfix
          
    .col-md-4
      .medlem-badge
        %h3
          %span.fa-stack
            %i.fa.fa-circle.fa-stack-2x.blue
            %i.fa.fa-plug.fa-stack-1x.fa-inverse
          Morgenmeditation
        %p.lead
          Kom godt fra start! Kom til morgenmeditation fra 7 til 8 på hverdage (undtagen fredag)

    .col-md-4
      .medlem-badge
        %h3
          %span.fa-stack
            %i.fa.fa-circle.fa-stack-2x.red
            %i.fa.fa-leaf.fa-stack-1x.fa-inverse
          Drop-in Yoga
        %p.lead
          Er du træt af at lave yoga hjemme i stuen? Gør det sammen med os, og få en kop the bagefter.
    .col-md-4
      .medlem-badge
        %h3
          %span.fa-stack
            %i.fa.fa-circle.fa-stack-2x.red
            %i.fa.fa-heart.fa-stack-1x.fa-inverse
          Dine egne events
        %p.lead
          Har du noget på hjerte du vil dele? På hverdagsaftener er der mulighed for at slå dit eget event op.
    .col-md-4
      .medlem-badge
        %h3
          %span.fa-stack
            %i.fa.fa-circle.fa-stack-2x.green
            %i.fa.fa-lightbulb-o.fa-stack-1x.fa-inverse
          Mange aktiviteter 
        %p.lead
          Prøv noget nyt, og bliv inspireret. Se vores mange forskellige arrangementer under 
          = link_to "aktiviteter", events_path

    .col-md-4
      .medlem-badge
        %h3
          %span.fa-stack
            %i.fa.fa-circle.fa-stack-2x.blue
            %i.fa.fa-coffee.fa-stack-1x.fa-inverse
          Et pusterum
        %p.lead
          Tinkuy er en oase lige midt i København. Kom og mærk stemningen i vores chill-out lounge.
    .col-md-12
      - unless current_user
        - if @places_left > ZERO
          = link_to new_user_registration_path, :class => "btn btn-lg btn-success btn-signup" do            
            Bliv medlem nu
            %i.fa.fa-chevron-circle-right
            %br
            %span.small For kr. 108 per måned