.jumbotron.page
  .container
    .row
      .col-md-8
        %h1.page
          Spørgsmål og svar
      .col-md-4
        - unless current_user
          - if @places_left
            = link_to membership_path, :class => "btn btn-success btn-signup btn-signup-small" do            
              Bliv medlem nu
              %i.fa.fa-chevron-circle-right

.container
  .row
    .col-md-8
      %ul.list-unstyled
        %li= link_to "Hvad er Tinkuy?", "#tinkuy"
        %li= link_to "Hvad betyder udtrykket 'Tinkuy'?", "#betydning"
        %li= link_to "Hvordan bliver jeg medlem?", "#medlem"
        %li= link_to "Kan alle blive medlem?", "#alle"
        %li= link_to "Nu har jeg tilmeldt mig – hvad så?", "#hvad_nu"
        %li= link_to "Hvordan foregår betalingen?", "#betaling"
        %li= link_to "Hvornår kan jeg gøre brug af mit medlemskab?", "#brug"
        %li= link_to "Hvad får jeg for mit medlemskab?", "#udbytte"
        %li= link_to "Hvorfor er det så biligt?", "#billigt"
        %li= link_to "Hvor finder jeg en oversigt over aktiviteter i centret?", "#oversigt"
        %li= link_to "Hvor mange pladser er der på holdene?", "#pladser"
        %li= link_to "Hvor tilmelder jeg mig aktiviteterne?", "#tilmelding"
        %li= link_to "Dækker medlemskabet også mine børn?", "#born"
        %li= link_to "Hvordan opsiger jeg mit medlemskab?", "#opsigelse"
        %li= link_to "Andre spørgsmål?", "#andre"

      %hr/
      %h3#tinkuy Hvad er Tinkuy?
      %p
        Tinkuy er et spirituelt fitnesscenter hvor du sammen med andre kan træne din 'spirituelle muskel' via meditation, bevægelse og inspirerende oplæg. Vores tre kerneværdier er:
      %ul
        %li
          %strong SAMSKABENDE:
          Bevæg og lad dig bevæge i krop, sind og ånd via inspirerende oplæg, playshops og mødet med andre.
        %li
          %strong SAMVÆR:
          Mød nye mennesker i et trygt og hjertevarmt miljø, øg pulsen med dans og sænk den igen i vores oxytocinstimulerende café.
        %li
          %strong NÆRVÆR:
          Vedligehold din spirituelle praksis via meditation, yoga og "open space" arrangementer. Mærk hvordan din disciplin styrkes.
      %p
        Centeret har en stor undervisningssal, behandlerrum, kontor og fælles lounge område. Medlemskab koster kr 108/md og giver fri adgang til de fleste af aktiviteterne i hverdagene mandag til torsdag og ofte rabat på weekendarrangementer.
      %p
        Vi har plads til et begrænset antal medlemmer - 
        = link_to "bliv medlem her", membership_path
      = render :partial => 'top'
      
      
      %h3#betydning Hvad betyder udtrykket ”Tinkuy” 
      %p
        Det er "mødet mellem to energibobler", som kan være mødet med sig selv, det guddommelige .... eller mellem to mennesker når de mødes i hjertet. Det kan også betyde det punkt hvor to floder mødes. Eller hvor to bjerge mødes. Er det ikke fedt at et folk ærer og husker dette ved at give det et navn?
      = render :partial => 'top'
      
      %h3#medlem Hvordan bliver jeg medlem?
      %p
        Du kan registere dit medlemskab ved at 
        = link_to "klikke her", membership_path
      = render :partial => 'top'
      
      %h3#alle Kan alle blive medlem? 
      %p
        Ja, alle kan blive medlem så længe vi har plads. Når vi når 700 hverdags medlemmer og 300 weekend medlemmer vurderer vi, om centret kan bære flere medlemmer.
      = render :partial => 'top'
      
      %h3#hvad_nu Nu har jeg tilmeldt mig – hvad så?
      %p
        Du modtager i løbet af en uge en mail med mere information. Og du er altid velkomme til at skrive på mailen info@tinkuy.dk hvis du har spørgsmål. 
      = render :partial => 'top'
      
      %h3#betaling Hvordan foregår betalingen? 
      %p
        Prisen er 108 kr/md og du kan betale på en af disse to måder; 
      %h4
        Kreditkortbetaling: 
      %p
        Du kan enten betale via dit kreditkort på tinkuy.dk – denne metode kører automatisk. 
      %h4
        Bankoverførsel:
      %p
        Ellers kan du betale på kontonummer i Merkur Bank Reg. 8401 konto 1292459. VIGTIGT! Husk hvis du betaler via bankoverførsel at sætte det til en fast månedlig overførsel. Og husk endelig at skrive dit navn i overførselslinjen (max 20 tegn), når du betaler for dit medlemskab, så kan vi finde din indbetaling på kontoudtoget. Så snart betalingen er tikket ind på bank kontoen sender vi dig en velkomstmail.
      = render :partial => 'top'
      
      %h3#brug Hvornår kan jeg gøre brug af mit medlemskab?
      %p
        Såsnart du har betalt for dit medlemskab enten via kreditkort eller 
        bankoverførsel kan du benytte dig af de fri aktiviteter, der er inkluderet i dit 
        medlemskab. Når vi har modtaget din betaling sender vi dig snarest en 
        velkomstmail med mere info.
      = render :partial => 'top'
      
      %h3#udbytte Hvad får jeg for mit medlemskab? 
      %p
        Se mere under de forskellige 
        = link_to "medlemskaber", membership_path
      %p
        Vi har morgen meditation 7.00 – 8.00 og Drop IN Morgenyoga 8.00 – 10.00 mandage til torsdage. Vi har forskellige former for bevægelse 1530-1700 mandag til torsdag. Endelig har vi også open stage arrangementer 19-21 flere af aftnerne mandag til torsdag, hvor medlemmerne deler ud af deres evner og gaver til glæde for andre. Derudover har vi en række af arrangementer på andre tidspunkter, hvor betalende medlemmer af Tinkuy ofte kommer med til reduceret pris. Du kan se alle arrangementer på 
        = link_to "tinkuy kalenderen", events_path
        og på facebookgrupperne 
        = link_to "Tinkuy – medlemmer", "https://www.facebook.com/groups/273265506201488/" 
        og 
        = link_to "Spirituelt Fitnesscenter i  Hjertet af København", "https://www.facebook.com/groups/683828591709690/"
      = render :partial => 'top'
      
      %h3#billigt Hvorfor er det så biligt?
      %p
        Vi ønsker at alle har mulighed for at blive medlem af Tinkuy uanset økonomi. De 100 kr går til Tinkuy. De 8 kr pr medlem donerer vi til velgørende formål. 
      = render :partial => 'top'
      
      %h3#oversigt Hvor finder jeg en oversigt over aktiviteter i centret?
      %p
        Du finder en overskuelig uge oversigt på tinkuy.dk/events hvor du også kan læse mere om den enkelte aktivitet. 
      = render :partial => 'top'
      
      %h3#pladser Hvor mange pladser er der på holdene?
      %p
        Det er meget forskelligt. Tjek den enkelte aktivitet. 
      = render :partial => 'top'
      
      %h3#tilmelding Hvor tilmelder jeg mig aktiviteterne? 
      %p
        Se under den enkelte aktivitet på tinkuy.dk/events og følg det. Du må også meget gerne melde dig til via facebook events (på en af grupperne 
        = link_to "Tinkuy – medlemmer", "https://www.facebook.com/groups/273265506201488/" 
        eller
        = succeed ")." do
          = link_to "Spirituelt Fitnesscenter i  Hjertet af København", "https://www.facebook.com/groups/683828591709690/"
        Det er nemlig rigtig rart for arrangøren at have overblik over hvor mange der ca kommer.
      = render :partial => 'top'
      
      %h3#born Dækker medlemskabet også mine børn?
      %p
        Ja, medlemskabet dækker også dine børn. Og du er meget velkommen til at tage dine børn med. Husk at tjekke om den enkelte aktivitet egner sig til børn. 
      = render :partial => 'top'
      
      %h3#opsigelse Hvordan opsiger jeg mit medlemskab? 
      %p
        Du kan til enhver tid opsige dit medlemskab uden opsigelsesvarsel. Ved opsigelse må du meget gerne sende en mail til 
        = link_to "medlem@tinkuy.dk", "mailto:medlem@tinkuy.dk" 
      %p
        Hvis du er tilmeldt bankoverførsel stopper du herefter din automatiske 
        overførsel via din egen bank/netbank. Hvis du opsiger og har betalt for en 
        måned stopper medlemskabet efter udløb af den måned.
      %p
        Hvis du er tilmeldt via kreditkort skal du afmelde din betaling under “min profil”  
        for at betalingsaftalen ophører.
      %p
        Vedr pause i medlemskabet: Nogle måneder er du nok mere aktiv og bruger de 
        tilbud centeret har meget, og andre måneder er du mindre aktiv og holder en 
        pause (men betaler stadig kontingent). Når du holder pause opsparer du frugter 
        til fx at booke behandlerrummet på et tidspunkt.
      %p
        Hvis du holder betalingspause i medlemsbetalingen skal du informere os via 
        medlem@tinkuy.dk hvorefter vi vil stoppe medlemsskabet - herefter kan du 
        tilmelde dig igen senere såfremt der er ledige pladser.

        
      -# if current_user.present?
        - if current_user.is_bank_member
          %p
            Da du er tilmeldt bankoverførsel stopper du blot din automatiske overførsel via din egen bank/netbank. Ved opsigelse må du meget gerne sende en mail til 
            = link_to "medlem@tinkuy.dk", "mailto:medlem@tinkuy.dk"  

        - elsif current_user.subscription.present?
          %p
            Da du er tilmeldt via kreditkort kan du
            = link_to "opsige dit medlemskab her", koudoku.owner_subscription_path(current_user.id, current_user.subscription.id)
      -# else
        %p 
          Hvis du er tilmeldt via kreditkort opsiges medlemskab ved at klikke på 'medlemskab' under 'min profil' i øverste højre hjørne på websiden. 
        %p
          Du kan
          = link_to "logge ind her", new_user_session_path
        %p
          Hvis du er tilmeldt bankoverførsel stopper du blot din automatiske overførsel via din egen bank/ netbank. Ved opsigelse må du meget gerne sende en mail til 
          = link_to "medlem@tinkuy.dk", "mailto:medlem@tinkuy.dk"
      -# %ul
        %li 
          Hvis du opsiger og har betalt for en måned stopper medlemskabet efter udløb af den måned.       
        %li
          Vedr pause i medlemskabet: Nogle måneder er du nok mere aktiv og bruger de tilbud centeret har meget, og andre måneder er du mindre aktiv og holder en pause (men betaler stadig kontingent). Når du holder pause opsparer du frugter til fx at booke behandlerrummet på et tidspunkt. 
        %li
          Hvis du holder betalingspause i medlemsbetalingen skal du informere os via 
          = link_to "medlem@tinkuy.dk", "mailto:medlem@tinkuy.dk" 
          hvorefter vi vil stoppe medlemsskabet - herefter kan du tilmelde dig igen senere såfremt der er ledige pladser.
      = render :partial => 'top'

      %h3#andre Andre spørgsmål?
      %p
        Skriv endelig en mail på 
        = link_to "info@tinkuy.dk", "mailto:info@tinkuy.dk" 
        hvis du har spørgsmål du endnu ikke har fået svar på. 
      = render :partial => 'top'




