.jumbotron
  .container
    .row
      .col-md-6
        %h1.home
          Tinkuy
        %p.subtitle
          København
      .col-md-6
        %h2
          %i.fa.fa-quote-left
          Et spirituelt fitness center
          %i.fa.fa-quote-right
        %h3
          Antal pladser tilbage
        - if @places_left > ZERO
          - @places_left.to_s.chars.map(&:to_i).each do |digit|
            .number-counter
              = digit
        - else
          .number-counter
            0
        .clearfix
        - if current_user
          .well.lead
            Velkommen
            %span
              = succeed "!" do
                %strong= current_user.firstname
              %em
                Se alle 
                = link_to "aktiviteter her", events_path
        - else
          - if @places_left > ZERO
            = link_to new_user_registration_path, :class => "btn btn-lg btn-success btn-signup" do            
              Bliv medlem nu
              %i.fa.fa-chevron-circle-right
              %br
              %span.small For kr. 108 per måned
          - else
            .well.well-small
              %p 
                Der er desværre ikke plads til flere medlemmer på nuværende tidspunkt. Skriv til 
                = link_to "venteliste@tinkuy,dk", "mailto:venteliste@tinkuy.dk"
                hvis du vil have besked når der åbnes for flere medlemmer.

.container
  .row
    .col-md-4
      %h2
        %span.fa-stack
          %i.fa.fa-circle.fa-stack-2x.red
          %i.fa.fa-flash.fa-stack-1x.fa-inverse
        Samskabende
      %p.lead
        Bevæg og lad dig bevæge i krop, sind og ånd via inspirerende oplæg, workshops og mødet med andre.
    .col-md-4
      %h2
        %span.fa-stack
          %i.fa.fa-circle.fa-stack-2x.blue
          %i.fa.fa-heart-o.fa-stack-1x.fa-inverse
        Samvær
      %p.lead
        Mød nye mennesker i et trygt og hjertevarmt miljø, øg pulsen med dans og sænk den igen med vores 
        = link_to "oxytocinstimulerende", "http://da.wikipedia.org/wiki/Oxytocin", :target => "_blank"
        café.
    .col-md-4
      %h2
        %span.fa-stack
          %i.fa.fa-circle.fa-stack-2x.green
          %i.fa.fa-bullseye.fa-stack-1x.fa-inverse
        Fokus
      %p.lead
        Vedligehold din spirituelle praksis via meditation, yoga og "open space" arrangementer. Mærk hvordan din disciplin styrkes.