= simple_form_for [:admin, @plan], :html => {:role => 'form' } do |f|
  = f.error_notification

  .form-inputs
    .row
      .col-md-6
        = f.input :name
        = f.input :price, :label => "Pris for medlemsskab"
        = f.input :fruits_per_month
        = f.input :max_recur_bookings
        = f.input :features    
        = f.input :description
      .col-md-6
        = f.input :id
        = f.input :stripe_id
        = f.input :interval
        = f.input :display_order
        = f.input :highlight

  .form-actions
    = f.button :submit
