.row
  .col-md-12
    %h1 Betalingsplaner
  - @plans.each do |plan|
    .col-md-3
      .well
        %h4= plan.name
        %hr/
        %table.table-condensed.table-bordered
          %tr
            %td Medlemsskab
            %td
              - if plan.membership.present?
                = plan.membership.name
              - else
                IKKE TILDELT

          %tr
            %td Pris pr. måned
            %td= plan.price
          %tr
            %td Max medlemmer:
            %td= plan.max_members
          %tr
            %td Frugter pr. måned
            %td= plan.fruits_per_month
          %tr
            %td Max faste bookings
            %td= plan.max_recur_bookings
        .well.well-sm
          Med 
          %strong= plan.name.downcase
          = plan.description

        = link_to 'Edit', edit_admin_plan_path(plan), :class => 'btn btn-default'
        = link_to 'Destroy', admin_plan_path(plan), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'

  .col-md-12
    = link_to 'Ny plan', new_admin_plan_path
