.row
  .col-md-12
    - if current_user.present? and current_user.is_bank_member
      .alert.alert-success
        Du er i øjeblikket 108 kroners medlem via bankoverførsel. Du kan sætte en 
        %strong ny betalingsform 
        op her
    %ul.list-unstyled.koudoku-pricing-table
      .row
        - @plans.each do |plan|
          .col-md-3
            %li{:class => "plan #{'plan-primary' if plan.highlight?}"}
              .well
                .caption
                  %h3= plan.name
                  %h4
                    Kroner #{plan.price.to_i},- pr. måned
                    / = plan_price(plan)
                  .call-to-action
                    - if @subscription.nil?
                      = link_to Koudoku.free_trial? ? 'Start prøve' : 'Vælg XX', koudoku.new_subscription_path(plan: plan.id), class: "btn btn-success btn-large"
                    - elsif @subscription.persisted?
                      - if @subscription.plan == plan
                        = form_for @subscription, url: owner_subscription_path(@owner, @subscription) do |f|
                          = f.submit 'Din plan', class: "btn btn-lg", disabled: 'disabled'
                      - else
                        - if plan.subscriptions.present?
                          - if plan.subscriptions.count >= plan.max_members
                            = form_for @subscription, url: owner_subscription_path(@owner, @subscription) do |f|
                              = f.submit 'Ingen pladser', class: "btn btn-lg", disabled: 'disabled'
                          - else
                            = form_for @subscription, url: owner_subscription_path(@owner, @subscription) do |f|
                              = f.hidden_field :plan_id, value: plan.id
                              = f.submit @subscription.describe_difference(plan), class: "btn btn-success btn-lg"
                        - else
                          = form_for @subscription, url: owner_subscription_path(@owner, @subscription) do |f|
                            = f.hidden_field :plan_id, value: plan.id
                            = f.submit @subscription.describe_difference(plan), class: "btn btn-success btn-lg"
                    - else
                      = link_to Koudoku.free_trial? ? 'Start prøve' : 'Vælg XX', new_owner_subscription_path(@owner, plan: plan.id), class: "btn btn-success btn-large"
                  %ul.list-unstyled.features
                    - if Koudoku.free_trial?
                      %li.muted
                        = Koudoku.free_trial_length
                        \-day Free Trial
                    %li
                      - if plan.max_members.present?
                        - unless false #current_user.is_bank_member
                          - if plan.id == 2
                            = plan.max_members - @bank_members - plan.subscriptions.count
                          - else
                            = plan.max_members - plan.subscriptions.count
                          pladser tilbage
                      - else
                        Støt Tinkuy

                    = BlueCloth.new(plan.features.gsub(/\n/, "\n\n")).to_html.gsub(/<(\/?)p>/, '<\1li>').html_safe
        .clearfix
        - @plans.each do |plan|
          .col-md-3
            .well
              %p
                Med
                %strong= plan.name.downcase
                = plan.description  
      / .span3.social-proof
      /   = render 'koudoku/subscriptions/social_proof'