- if params['update'] == 'card'
  .jumbotron.page
    .container
      .row
        .col-md-12
          %h1.page
            Betalingskort
  .container
    .row
      .col-md-6
        .well.well-sm
          = render 'card', title: "Opdater din kortinformation", url: owner_subscription_path(@owner, @subscription)
      .col-md-6
        %h4
          Betalingen
        %p
          Din betaling bliver sikkert gennemført med
          = link_to "Stripe", "http://www.stripe.com/dk", :target => "_blank"
        %p
          Vi gemmer ikke dine kortoplysninger

- else
  .jumbotron.page
    .container
      .row
        .col-md-12
          %h1.page
            Dit medlemsskab
          %p.white
            Vælg det medlemsskab som passer dig bedst
  .container
    .row
      .col-md-12
        = render 'pricing_table'
        %hr/
        %p
          Opsigelse af medlemsskab
          = @owner
          = @subscription
        %p
          = link_to 'Opsig medlemsskab', cancel_owner_subscription_path(@owner, @subscription), method: :post, :confirm => 'Er du sikker på at du ikke længere vil være medlem af Tinkuy?', :class => 'btn btn-danger'
