.jumbotron.page
  .container
    .row
      .col-md-8
        %h1.page
          Medlemsskab

.container
  .row
    .col-md-8
      - if @subscription.plan.present?
        %h2 Du er medlem
        %p
          Du er i øjeblikket medlem med 
          %strong= @subscription.plan.name 
          medlemsskabet.
        = link_to 'Ændre dit medlemsskab', edit_owner_subscription_path(@owner, @subscription), class: 'btn btn-default'
      - else
        %h2 Du er ikke medlem
        %p Du er i øjeblikket ikke skrevet op som medlem af Tinkuy
        = link_to 'Vælg et medlemsskab', edit_owner_subscription_path(@owner, @subscription), class: 'btn btn-primary'
      %br/
      %br/
      %h4 Betalingskort
      %p
        Du har registreret et betalingskort som slutter med #{@subscription.last_four}.
      = link_to 'Opdater betalingsinformation', edit_owner_subscription_path(@owner, @subscription, update: 'card'), class: 'btn btn-default'
