.row
  .col-md-6
    %h1
      Medlemmer:
      - if params[:focus].present?
        = params[:focus].capitalize
      - if params[:filter].present?
        %small= "(sidste #{params[:days]} dage)"
  .col-md-6
    - @filters.keys.each do |filter|
      .btn-group
        %button.btn.btn-primary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          = @filters[filter]
          %span.caret
        %ul.dropdown-menu
          - [2,7,14,28].each do |days|
            %li
              %a{:href => admin_users_path(:focus => 'active', :filter => filter, :days => days)}
                = "#{days} dage"
    .btn-group
      = link_to "Active", admin_users_path(:focus => 'active'), :class => 'btn btn-primary'
      = link_to "Pending", admin_users_path(:focus => 'pending'), :class => 'btn btn-primary'
      = link_to "Supporters", admin_users_path(:focus => 'support'), :class => 'btn btn-primary'
      = link_to "Passive", admin_users_path(:focus => 'passive'), :class => 'btn btn-primary'


.row
  = render partial: 'user_table', :locals => {:users => @users, :focus => params[:focus]}