!!!
%html{'ng-app' => 'app'}
  %head
    %title Tinkuy
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    %link{:href => "http://fonts.googleapis.com/css?family=Indie+Flower", :rel => "stylesheet", :type => "text/css"}/
    = csrf_meta_tags
    %meta{:content => "Tinkuy - spirituelt fitnesscenter", :property => "og:title"}/
    %meta{:content => "Bevægelse i krop sind og ånd gennem dans, yoga, meditation, foredrag og meget mere", :property => "og:description"}/
    %meta{:content => image_url('tinkuy.jpg'), :property => "og:image"}/

    %script{:src => "https://js.stripe.com/v1/", :type => "text/javascript"}
    = yield :koudoku

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56633343-1', 'tinkuy.dk');
      ga('send', 'pageview');

  %body
    #fb-root
      :javascript
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=344493419068459&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    %nav.navbar.navbar-default#top{:role => "navigation"}
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => main_app.root_path} Tinkuy
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li{:class => ( controller_name == 'events' ? 'active' : '' )}
              = link_to "Aktiviteter", main_app.events_path
            %li{:class => ( controller_name == 'users' ? 'active' : '' )}
              = link_to "Medlemmer", main_app.users_path
            %li{:class => ( controller_name == 'resources' ? 'active' : '' )}
              = link_to "Book rum", main_app.resources_path
            %li{:class => ( controller_name == 'pages' && action_name == 'faq' ? 'active' : '' )}
              = link_to "Spørgsmål og svar", main_app.faq_path
            %li{:class => ( controller_name == 'pages' && action_name == 'info' ? 'active' : '' )} 
              = link_to "Praktisk", main_app.info_path
            - if current_user and current_user.admin?
              %li
                %a{:href => main_app.admin_path}
                  .label.label-success
                    ADMIN

          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              - if current_user.membership.present?
                %li
                  %a
                    .label.label-info
                      = current_user.membership.name.humanize
              %li
                = link_to "" do
                  %i.fa.fa-lemon-o
                  - if current_user.fruitbasket.present?
                    = current_user.fruitbasket.fruits_count
              %li.dropdown{:class => (( controller_name == 'registrations' or controller_name == 'subscriptions') ? 'active' : '' )}
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  Min profil
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    = link_to "Rediger profil", main_app.edit_user_registration_path
                  %li
                    - if current_user.subscription.present?
                      = link_to "Medlemsskab", koudoku.owner_subscription_path(current_user.id, current_user.subscription.id)
                    - else
                      = link_to "Mit medlemsskab", main_app.membership_path
                  %li
                    = link_to "Mine Aktiviteter", main_app.user_events_path(current_user)
                  %li{:role => "separator", :class => "divider"}
                  %li= link_to "Log ud", main_app.destroy_user_session_path, :method => :delete
            - else
              - if @places_left
                %li{:class => (( controller_name == 'registrations' or controller_name == 'subscriptions') ? 'active' : '' )}
                  = link_to "Bliv medlem", main_app.membership_path
              %li= link_to "Log ind", main_app.new_user_session_path
  
    - flash.each do |name, msg|
      .alert.alert-success
        .container
          = content_tag :div, msg, id: "flash_#{name}"
    = yield
    - unless controller_name == 'pages' && action_name == 'index'
      = render :partial => 'shared/footer'